* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}
/* tekstas */
.container1{
width: 100%;
height: auto;
text-align-last: center;
margin-top: 15px;
}

.container1-3{
position: relative;

width: 90%;
justify-content: center;
margin-left: 4%;
}

/* paslaugos */
.text3{
  width: 80%;
  height: 200px;
  text-align: center;
  width: 100%;
  display: inline-table;
  color: white;
  font-size: 100%;
  line-height: 110%;
}

table tr td{
  border: 1px solid #9CB5B9;
}

table{
  width: 80%;
  margin-left: 9%;
  background-color: #9CB5B9;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* paveiksliukai */
.container2{
position: relative;
top: 50%;
left: 4%;
width: 90%;
}

img{
  width: 25%;
  float: left;
  position:relative;
  margin-bottom: 50px;
  top: 95%;
  height: auto;
  padding: 0;
}

/* apacia */
.container3{
position: fixed;
width: 100%;
height: 50px;
left: -20px;
}
#text1{
  text-align: center;
  width: 100%;
  display: inline-table;
  color: white;
  font-size: 110%;
  line-height: 110%;
}

html, body{
  min-height: 100%;
  min-width: 100%;
}
#backgr{
  position:fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    min-height: 100%;
    min-width: 100%

}
.row::after {
    content: "";
     clear: both;
     display: table;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

 nav{
  display:flex;
  justify-content:center;
  width:100%;
  height:auto;

}
#list{
  margin-left: 90px;
  display:flex;
  padding-left:0;
  align-items:center;
}

ul li{
  display:inline;
  left: 80%;
  margin:5px;
  padding: 8px;
  background-color: #9CB5B9;
  color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

li{
  display: inline;
}

#logo{
  position: relative;
    right: 280px;
    top: 20px;
    z-index: 7;
}

#ontopoff {
text-align: center;
color: white;
margin-top: 10px;
font-size: 50px;
-webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
animation: mymove 5s infinite;
}

@keyframes mymove {
    50% {text-shadow: 10px 20px 30px #33211F;}
}

.footer {
    background-color: #393337;
    color: white;
    text-align: center;
    font-size: 100%;
    position: fixed;
    margin-right: 0;
    width: 100%;
    bottom: 0;
    opacity: 0.5;
}

i{
  margin: 10px;
}

.menu li:hover {
  background-color: #AEC7CB;
}
  a:link{
    text-decoration: none;
  }
  a:visited{
    text-decoration: none;
  }

[class*="col-"] {
    float: left;
    padding: 15px;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)  {
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
}
